/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/




.App {
  text-align: center;

  font-family:'Courier New', Courier, monospace;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  font-family:'Courier New', Courier, monospace;
}

label {
  font-size: 20px;
  font-weight: bold;
}

#percents {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 100px;
  padding-top: 35px;
}

input {
  width: 100px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}




button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-weight: bold;
}

select {
  width: 400px;
  height: 30px;
  font-size: 20px;
  margin: 10px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}






.index_page {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 5%;
}

#index_page_buttons{
  text-align: center;
  height: 100px;
  width: 100%;

  border: 2px solid black;
  justify-content: center;
  justify-self: center;
}


#linjeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*gap: 5%;*/
  gap: 15px;
}

#linje_page_buttons {
  text-align: center;
  height: 80px;
  width: 100%;

  /*border: 2px solid black;*/
  justify-content: center;
  justify-self: center;
  border-radius: 25px;
}

.yrkesfag_button_home {
  border: 2px solid #8ac75a;
}
.yrkesfag_button_home:hover, .yrkesfag_button_home:active {
  background-color: #e8f4de;
}

.studiefag_button_home {
  border: 2px solid #fcc025;
}
.studiefag_button_home:hover, .studiefag_button_home:active {
  background-color: #fff1d0;
}


* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* for phone */
@media only screen and (max-width: 600px) {
  .index_page {
    display: grid;
    grid-template-columns: 1fr;
  }

  h2{
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  #index_page_buttons {
    display: grid;
    grid-template-columns: 1fr;
  }

  #linjeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #linje_page_buttons {
    display: grid;
    grid-template-columns: 1fr;
  }

  #linje_page_buttons > h2 {
    margin: 10px;
    font-size: 14px;

  }

  select {
    width: 90vw;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
  }
}



/*.app {
  width: 95vw !important; 
  height: 98vh !important;
}*/


a:visited, a {
  color: black;
}

a{
  text-decoration: none;
}



#breadcrumbsLink {
  text-decoration: underline;
}

.breadCrumbsContainer {
  padding-bottom: 20px;
}

body{
  margin: 8px;
}